$antiflashwhite: rgb(222, 222, 222);

$blackvampire: rgb(5, 5, 5);

$davygrey: rgb(85, 85, 85);
$gray: rgb(254, 35, 35);
$spirodisco: rgb(34, 208, 251);

$peach: rgb(255, 235, 181);
$lightyellow: rgb(185, 176, 42);
$paleyellow: rgb(255, 247, 196);
$lightred: rgb(250, 206, 179);
$melon: rgb(245, 139, 139);
$tangerineyellow: rgb(166, 255, 0);
